[Desktop Entry]
Name=QARecord
Name[pl]=QARecord
Comment=Simple recording tool (also JACK client)
Comment[pl]=Proste narzędzie nagrywające (oraz klient JACKa)
Exec=qarecord
Icon=
Terminal=false
Type=Application
Categories=Qt;Audio;Recorder;
# vi: encoding=utf-8
